<div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-80 bg-gradient-light">
<ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
    <li class="nav-item">
        <a *ngIf = "route.children.length==0" routerLink="/uploadGeotiff" class="nav-link align-middle px-0 font-monospace text-white">
            <i class="fs-4 bi bi-file-earmark-plus"></i> <span class="ms-1 d-none d-sm-inline">Load Geotiff</span>
        </a>
    </li>
    <router-outlet></router-outlet>
</ul>
</div>